.Input__textfield {
  box-sizing: border-box;
  padding: 10px;
  background-color: #222;
  color: white;
  width: 100%;
  border: 1px solid grey;
}

.Input__textfield:focus {
  outline: none;
  border: 1px solid white; 
}