.PlayerFilter {
  width: 200px;
  background-color: grey;
  color: white;
  border-radius: 5px;
}

.Timestamp {
  max-height: 380px;
  overflow: auto;
}

.Tag {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.Tag > p {
  margin: 0px;
}

.Tag__tags {

}

.Tag__time {

}