.PlayerFilter {
  height: 100%;
  width: 200px;
  background-color: grey;
  color: white;
}

.PlayerFilter__Input {
  height: 10%;
}

.PlayerFilter__Timestamp {
  height: 90%; /* 380 - 35 (height of InputBox) = 345 */
  overflow: auto;
}