.Tag {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.Tag:hover {
  background-color: #a2a2a2;
}

.Tag > p {
  margin: 0px;
}

.Tag__tags {

}

.Tag__prob {
  
}

.Tag__time {

}