.Form {
  width: 500px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Input {
  box-sizing: border-box;
  padding: 10px;
}

.Input__textfield {
  background-color: #222;
  color: white;
  width: 85%;
  border: 1px solid grey;
}

.Input__textfield:focus {
  outline: none;
  border: 1px solid white; 
}

.Input__button {
  background-color: white;
  border-style: none;
  width: 15%;
}

.Input__button:focus {
  outline: none;
}

.Input__button:active {
  background-color: white;
  box-shadow: -5px 0 #95a5a6;
  transform: translateX(4px);
}